<form action="/edit/:id" method="PUT" class="cat-form">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input type="text" id="name" value="{{name}}" name="name">
    <label for="description">Description</label>
    <textarea name="description" id="description">{{description}}</textarea>
    <label for="image">Image</label>
    <input type="text" id="image" name="imageUrl" value="{{imageUrl}}">
    <label for="group">Breed</label>
    <select id="group">
        {{#each breeds}}
        {{> breed}}
        {{/each}}
    </select>
    <button>Edit Cat</button>
</form>