<article class="all-blogs-card">
    <article class="all-blogs-card-image">
        <img src="{{imageUrl}}" alt="blogs-icon">
    </article>

    <article class="all-blogs-card-content">
        <h2>{{title}}</h2>
        <h3>{{blogCategory}}</h3>
    </article>

    <article class="all-blogs-card-buttons">
        <a href="/posts/details/{{_id}}" class="btn-details">Details</a>
    </article>
</article>